*{
    font-family: 'Times New Roman';
}

body{
    background-color: sandybrown;
    height: 1920px;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position:fixed;
    top: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.nav{
    display: inline;
    padding-right: 10px;
    text-align: center;
}

li.logo{
    font-size: 30px;
}

.batas{
    color: #EF8201;
    font-size: 30px;
    padding-right: 10px;
}

.menu{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.landing{
    padding-top: 80px;
}