body {
    max-width: 100%;
    overflow-x: hidden;
    /* ku ganti jadi max height */
    /* max-height: 800px; */
}

/* Defined container padding */

.container{
    padding-top: 2vw;
    padding-bottom: 2vw;
}

/* Navbar */

.navbar {
    width: 100%;
    height: 5.5vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    position: fixed;
    font-family: 'Poppins',sans-serif;
    z-index: 50;
    top: 0;
}

.navbar .container {
    padding-top: 0px;
    padding-bottom: 0px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.nav{
    display: inline;
    padding-right: 10px;
    text-align: center;
}

li.logo{
    font-size: 2.2vw;
}

.batas{
    color: #EF8201;
    font-size: 2.2vw;
    padding-right: 10px;
}

.menu{
    font-size: 2.2vw;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/* Landing */
.carousel-inner {
    /* kuubah height nya jadi max height */
    /* max-width: 1920px;   */
    max-height: 100vh;
}

.carousel-text {
    top: 18%;
    left: 10%;
    z-index: 10;
}

.carousel-text-content h1 {
    font-family: 'Tinos', serif;
    color: white;
    /* font-size: 4.5em; */
    font-size: 3.5vw;
    font-weight: 400;
}

.carousel-text-content h1 strong {
    font-weight: 700;
}

.carousel-text .orange-line {
    position: relative;
    top: 52px;
    width: 11vw;
    height: 0.3vw;
    background: #EF8201;
}

.carousel-text .carousel-text-about {
    position: relative;
    top: 4vw;
    font-size: 1vw;
    max-width: 38vw;
    height: 10vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 180.5%;
    /* or 34px */
    color: #FFFFFF;
}

.carousel-text .carousel-button button {
    position: relative;
    width: 10.8vw;
    height: 3vw;
    top: 160px;
    left: -3px;
    background: radial-gradient(296.49% 312.91% at 30.24% -0.18%, rgba(239, 130, 1, 0.77) 0%, rgba(239, 130, 1, 0.05) 100%);
    border: 1px solid rgba(239, 130, 1, 0.2);
    filter: drop-shadow(4px 3px 3px rgba(239, 130, 1, 0.25));
    backdrop-filter: blur(5px);
    border-radius: 1vw;
    /* Font */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2vw;
    color: #FFFFFF;
    
}
/* ubahan font diatas-klo mau dirubah, hapus aja dibawah */
/* --- */
.carousel-text {
    top: 10vw!important;
}

.carousel-text .carousel-button button{
    top: 3vw;
}
.carousel-text .carousel-button button p{
    font-size: 1.1vw;
}
.carousel-text .orange-line {
    top: 1.5vw!important;
}
/* ---- */

/* Fee */

.fee{
    background: url('../assets/hero_images/fee_hd.png') no-repeat;
    background-size:cover;
    /* width: 100vw; */
    /* height: 350px!important; */
    text-align: center;
    /* font-family: 'Poppins'; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* padding-top: 66.64%; */
}

.fee h2,
.fee p {
    padding-top: 1vw;
    font-size: 3vw;
    padding: 1vw;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2vw;
}

.fee p {
    font-size: 3vw;
    letter-spacing: 0.2vw;
}

.fee .row-fee span {
    display: block;
    font-size: 1.7vw;
    font-weight: normal;
}

.series{
    transition: all ease 0.5s;
}
/* Series */

.series h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
}

.series h2 span {
    font-weight: bold;
}



#video{
    transition: all ease 0.5s;
    opacity: 1;
}

.animation{
    opacity: 0.5;

}

.series .video{
    transition: none;
    /* transition: all ease 0.5s; */
}

#video3{
    width: 28vw;height: 13.979vw;z-index: -99;margin-left: -16.912vw;text-align: right;background-color: #c4c4c4cc;
}

#videomain{
    width: 32vw;height:17.979vw;background-color: #C4C4C4;z-index: 2;box-shadow: 0 0 0 10px rgb(64, 64, 64, 0.4)
}

#video1{
    width: 28vw;height: 13.979vw;background-color: #c4c4c4cc;z-index: -99;margin-right: -16.912vw;
}

#video1 img,
#videomain img,
#video3 img{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}

#series #video{
    display: flex;align-content: center;justify-content: center;align-items: center;margin-top: 2vw;
}

#series #seriesButton button{
    height: 15px;width:15px;border-radius: 100%;background-color: #C4C4C4;border: none;margin-left: 10px;
}

#series #seriesButton{
    display: flex;align-content: center;justify-content: center;align-items: center;margin-top: 3vw;
}

#seriesTitle{
    display: flex;align-content: center;justify-content: center;align-items: center;margin-top: 2vw;font-family: Poppins;
}

/* REVIEW */
#review{
    display: flex;align-content: center;justify-content: center;align-items: center;margin-top: 2vw;margin-top: 5vw;
}

#review3{
    width: 13vw;height: 9vw;z-index: -99;
    /* margin-left: -16.912vw; */
    text-align: right;background-color: #c4c4c4cc;
}

#reviewmain{
    width: 20vw;height:13vw;background-color: #C4C4C4;z-index: 2;box-shadow: 0 0 0 10px rgb(64, 64, 64, 0.4)
}

#review1{
    width: 13vw;height: 9vw;background-color: #c4c4c4cc;z-index: -99;
    /* margin-right: -16.912vw; */
}
#review1 img,
#reviewmain img,
#review3 img{
    max-width:100%;
    max-height:100%;
    object-fit: cover;
}
/* About us */

.about-us{
    background-image: url(/assets/background/background_aboutus_gallery_pisah_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 1845px; */
    position: relative;
    color: white;
}

.about-us .gradient {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 30%);
}

.about-us .container {
    padding-bottom: 7vw;
    padding-top: 7vw;
}

.about-us h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 4vw;
}

.about-us p {
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    line-height: 1.7vw;
}

/* .about-us button {
    position: absolute;
    width: 192px;
    height: 54.81px;
    background: radial-gradient(296.49% 312.91% at 30.24% -0.18%, rgba(239, 130, 1, 0.77) 0%, rgba(239, 130, 1, 0.05) 100%);
    border: 1px solid rgba(239, 130, 1, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
Note: backdrop-filter has minimal browser support
    border-radius: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
} */

.about-us img {
    max-height: 25vw;
    /* border-radius: 30px; */
    box-shadow: -8px 10px 10px black;
}

/* Melukad */

.melukad{
    max-height: 80vh;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.melukad .gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 15%); */
}

.melukad .container {
    padding-bottom: 7vw;
    padding-top: 7vw;
}

.melukad h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    line-height: 4vw;
}

.melukad p {
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
    line-height: 1.7vw;
}

.melukad img {
    max-height: 25vw;
    /* border-radius: 30px; */
    box-shadow: -8px 10px 10px black;
}

/* Why You Should Visit Pelisan Section */

/* .should-visit {
    background-color: black;
    color: white;
}

.should-visit .gradient {
    position: absolute;
    height: 100%;
    width: 100%;
background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 15%);
}

.should-visit .container {
    padding-bottom: 3vw;
    padding-top: 3vw;
}

.should-visit h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: bold;
}

.should-visit p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9vw;
    line-height: 1.7vw;
} */



/* Gallery */

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: black;
    position: relative;
    padding-bottom: 2.5vw;
}

.gallery h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    padding-bottom: 1vw;
}

.container-slideshow {
    position: relative;
    /* height: 20vw; */
}

.container-slideshow::after {
    content: "";
    clear: both;
    display: table;
}

  /* Hide the images by default */
.slide-full {
    display: none;
}

  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

  /* Next & previous buttons */
.prev,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: 3vw;
    height: 3vw;
    /* margin-top: -50px; */
    color: #EF8201;
    font-weight: bold;
    font-size: 2vw;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    -webkit-user-select: none;
    transition: .3s;
}

.next, .prev {
    margin: 0px 1vw;
    /* border-radius: 3px 0 0 3px; */
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    top: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
}

.gallery a:hover {
    color: #EF8201;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-gallery {
    margin-top: 2vw;
    float: left;
    width: 20%;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.gallery img {
    display: block;
    max-width: 100%;
    max-width: 100%;
}

.gallery .slide-full img {
    margin-left: 15%;
    margin-right: 15%;
    max-width: 70%;
    max-width: 70%;
}

.gallery .button-gallery {
    padding-top: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .button-gallery button {
    background: radial-gradient(296.49% 312.91% at 30.24% -0.18%, rgba(239, 130, 1, 0.77) 0%, rgba(239, 130, 1, 0.05) 100%);
    border: 1px solid rgba(239, 130, 1, 0.2);
    filter: drop-shadow(4px 3px 3px rgba(239, 130, 1, 0.25));
    backdrop-filter: blur(5px);
    border-radius: 1vw;
    /* Font */
    padding: 0.5vw 1vw;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.2vw;
    color: #FFFFFF;
}

/* Gallery & View 360 */

.view-360 h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    padding-bottom: 3vw;
}

.view-360 h2 {
    color: black;
}

.view-360 p {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    color: #000000;
}

/* Location */

.location {
    background-image: url(/assets/background/fields-bali-are-photographed-from-drone.jpg);
    background-size: cover;
    /* background-position: center; */
}

.location iframe {
    width: 30vw;
    height: 20vw;
}

.location h3{
    font-family: 'Poppins', sans-serif;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    padding-bottom: 2vw;
}

.location .information {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: white;
    text-align: left;
}

.location span {
    font-weight: bold;
    font-size: 25px;
}

.location .container {
    padding-bottom: 50px;
}

.location button {
    width: 250px;
    height: 54.81px;
    background: radial-gradient(194.09% 244.49% at 41.7% -66.6%, rgba(255, 255, 255, 0.73) 0%, rgba(255, 255, 255, 0.05) 100%);
    backdrop-filter: blur(5px);
    border: 0px;
    /* Note: backdrop-filter has minimal browser support */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

/* Review */

.review h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #054000;
}

.review .reviewer-impression,
.review .reviewer-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #054000;
    text-align: left;
}

.reviewer-impression {
    line-height: 2em;
}

.reviewer-impression::before {
    content: open-quote;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.review .reviewer-name {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #054000;
    text-align: right;
    ;
}

.review .reviewer-name span {
    font-weight: normal;
}

.review .reviewer-name u {
    text-decoration-color: #EF8201;
    border-radius: 5px;
    text-decoration-thickness: 4px;
    text-emphasis-style: solid;
    text-decoration-line: underline;
    text-underline-offset: 10px;
}

.review .container {
    padding-bottom: 50px;
}

/* Footer */

.footer{
    /* margin-top: 10px; */
    /* height: 270px; */
    background-color: black;
    color: white;
}

.footer .container {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer .container .copyright {
    padding-top: 20px!important;
}

.footer .container {
    text-align: left;
}

.footer p {
    margin-bottom: 5px;
}

.footer .unorder-list-of-information a {
    display: block!important;
    font-weight: normal;
}

.footer h6,
.footer .follow-us {
    font-family: 'Tinos', serif;
    font-size: 21px;
}

.footer .follow-us {
    padding-top: 0.5vw;
}


.footer .col-12.class-center {
    padding-top: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer svg {
    width: 1vw;
    height: 1vw;
}